.cardcontainer{
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
}

@media (max-width: 600px) {
    .cardcontainer{
        /* flex-direction: column; */
    }
    .cardcontainer img{
    }    
}

@media (max-width: 1000px) {
    .cardcontainer{
        align-items: center;
    }
    .cardcontainer img{
        width: 200px;
    }
}




